
@{
    ViewBag.Title = "Home";
}

@{ 
    Html.RenderPartial("Partial/_GoogleMaps");
}

<div class="container">
    Poah zeg
</div>

<div class="container">
    <table style="width: 100%;">
        <tr><th>Groep</th><th>Naam</th><th>Coordinaten</th></tr>
        <tr></tr>
        
        <!-- Partial toevoegen? -->
    </table>
</div>