@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4
@model X.PagedList.IPagedList<Maps.Data.Interfaces.ITrainee>

@{
    /**/

    ViewBag.Title = "Poah zeg!";
}

<script>
    $(document).ready(function () {
        $('#traineeTable').dataTable();
    });
</script>

<div class="container" style="margin-top: 30px;">
    <h2>Index</h2>
</div>

<div class="container" style="margin-top: 25px;">
    <table id="traineeTable" class="table table-bordered table-striped">
        <thead>
            <tr><th>Name</th><th>Latitude</th><th>Longitude</th></tr>
        </thead>
        <tbody>
            @foreach (var groups in Model)
            {
                <tr><td>@groups.Name</td><td>@groups.Latitude</td><td>@groups.Longitude</td></tr>

            }
        </tbody>
    </table>
    <div>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Table", new { page }), Bootstrap4PagedListRenderOptions.PageNumbersOnly)
    </div>
</div>



