<div class="container">
    <div class="row">
        <script src="~/Scripts/maps/functions.js"></script>
        <script>

            var map;

            function initMap() {
                var options = {
                    zoom: 8,
                    center: { lat: 52.4, lng: 6 },
                    disableDefaultUI: true,
                    zoomControl: true,
                    mapTypeControl: false,
                    scaleControl: true,
                    streetViewControl: false,
                    rotateControl: false,
                    fullscreenControl: false,
                    gestureHandling: "greedy"
                };

                map = new google.maps.Map(document.getElementById('map'), options);

                var markers = createMarkers(@Html.Raw(ViewData["markers"]), map);

                var markerCluster = new MarkerClusterer(map,
                    markers,
                    { imagePath: 'Content/img/m' });
            }

            function createMarkers(markerData,map) {
                var markers = [];
                markerData.forEach(marker => {
                    markers.push(new google.maps.Marker({
                        position: marker.position,
                        label: marker.label,
                        draggable: marker.draggable,
                        map: map
                    }));

                });

                markers.forEach(marker => {
                    var infowindow = new google.maps.InfoWindow({
                        content: getContent(marker)
                    });
                    marker.addListener('click',
                        function () {
                            infowindow.open(map, marker);
                        });
                });

                return markers;
            }

            function getContent(marker) {
                return "<div class='container'>" +
                    "<div class='row'>" +
                    "<div class='col-md-12'><h4>Trainee Info</h4></div>" +
                    "</div>" +
                    "<div class='row'>" +
                    "<div class='col-md-3'>Name</div>" +
                    "<div class='col-md-1'>:</div>" +
                    "<div class='col-md-8'>"+marker.label+"</div>" +
                    "</div>" +
                    "<div class='row'>" +
                    "<div class='col-md-3'>Address</div>" +
                    "<div class='col-md-1'>:</div>" +
                    "<div class='col-md-8'>" +
                    getAddress(marker) +
                    "</div>" +
                    "</div>" +
                    "<div class='row'>" +
                    "<div class='col-md-3'>Lat. </div>" +
                    "<div class='col-md-1'>:</div>" +
                    "<div class='col-md-8'>"+marker.position.lat()+"</div>" +
                    "</div>" +
                    "<div class='row'>" +
                    "<div class='col-md-3'>Lng. </div>" +
                    "<div class='col-md-1'>:</div>" +
                    "<div class='col-md-8'>"+marker.position.lng()+"</div>" +
                    "</div>" +
                    "</div>";
            }

            function getAddress(marker) {
                if (marker) {
                    var url =
                        "https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
                            marker.position.lat() +
                            "," +
                            marker.position.lng() +
                            "&key=@ViewData["key"]";
                    console.log(url);
                    var address = "";
                    $.when($.ajax({
                        async: false,
                        type: 'GET',
                        url: url,
                        success: function(data) {
                            address = data.results[0].formatted_address;
                        },
                        error: function() {
                            address = "";
                        }
                    }));

                    return address;
                }
                return "";
            }
        </script>
        <script src="/Content/img/markerclusterer.js">
        </script>

        <div id="map" style="height: 800px; width: 100%;"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["key"]&callback=initMap&v=3.32"
                async defer>
        </script>
    </div>
</div>