@model Maps.Data.Models.Trainee

<div class="container">
    <table class="table table-bordered">

        <tr><th>Name</th><th>Latitude</th><th>Longitude</th></tr>
        <tr><td>@Model.Name</td><td>@Model.Latitude</td><td>@Model.Longitude</td></tr>
    </table>
</div>